#set( $jdbcTool = $loader.newInstance("JdbcTool") )
$jdbcTool.setAllFromConfig($project.specificVariables)##
$jdbcTool.setOrderby("ORDER BY ext2, ext4, ext3")##
#set( $extAttributes=$jdbcTool.getExtAttributes($entity))
##
#foreach ( $extattrib in $extAttributes )
#set ($attrib = $entity.attributes.get($extattrib.index))
		$attrib.name : $extattrib.ext1
#end



