#set( $jdbcTool = $loader.newInstance("JdbcTool") )
$jdbcTool.setAllFromConfig($project.specificVariables)##
$jdbcTool.setOrderby("ORDER BY ext2, ext4, ext3")##
#set( $extAttributes=$jdbcTool.getExtAttributes($entity))
##
Créer

Entertabs/Leavetabs
#foreach ( $extattrib in $extAttributes )
#set ($attrib = $entity.attributes.get($extattrib.index))
		$attrib.name : $extattrib.ext2 : $extattrib.entertabs : $extattrib.leavetabs 
#end : 

Entertab/Leavetab
#foreach ( $extattrib in $extAttributes )
#set ($attrib = $entity.attributes.get($extattrib.index))
		$attrib.name : $extattrib.ext2 : $extattrib.entertab :  $extattrib.leavetab 
#end : 

Enterbloc/Leavebloc
#foreach ( $extattrib in $extAttributes )
#set ($attrib = $entity.attributes.get($extattrib.index))
		$attrib.name : $extattrib.ext2 : $extattrib.enterbloc : $extattrib.leavebloc
#end : 


