<div class="layout-topbar">
    <a href="#" class="menu-btn" (click)="this.onMenuButtonClick($event)">
        <i class="fa fa-bars"></i>
    </a>
    <img class="logo" src="assets/images/primeng-example-logo.png"/>
    <span *ngIf="selectedItem" style="width:280px;">
    <div class="menu-btn">Consultant</div>
	<p-dropdown [options]="listOfConsultants" [(ngModel)]="selectedItem" placeholder="Choisir un consultant" 
	  optionLabel="trigramme" menu-btn [style]="{'width': '400px'}" (click)="this.onDropdownClick($event)">
	     <ng-template let-item pTemplate="selectedItem">
            <span>{{item.value.nom}} {{item.value.prenom}}</span>
         </ng-template>
         <ng-template let-item pTemplate="item">
            <span>{{item.value.nom}} {{item.value.prenom}}</span>
         </ng-template>
	  </p-dropdown>
    </span>
    <a routerLink="about"> 
    	<button pButton type="button" label="A propos" iconPos="right" icon="pi pi-arrow-right" class="topbar-button"></button>
    </a>
    <a routerLink="deconnect">
    	<button pButton type="button" label="Déconnexion" iconPos="right" icon="pi pi-arrow-right" class="topbar-button"></button>
    </a>
    <a href="https://www.primefaces.org/primeng">
        <button pButton type="button" label="Go to PrimeNG" iconPos="right" icon="pi pi-arrow-right" class="topbar-button"></button>
    </a>
    <a routerLink="/">
       <button pButton type="button" label="Maison" iconPos="right" icon="pi pi-arrow-right" class="topbar-button"></button>
    </a>
</div>