<form [formGroup]="form" novalidate (ngSubmit)="login()" autocomplete="on" ngClass="login-container">
<p-card header="Page de Connection" subheader="{{message}}">
	<table>
		<tr >
			<td >
    			<hr class="solid">
			</td>
		</tr>
		<tr >
			<td >
    			<input pInputText placeholder="Utilisateur" required formControlName="name" autocomplete="username" [ngStyle]="{'width':'300px'}">
			</td>
		</tr>
		<tr>
			<td>
    			<input pInputText placeholder="Mot de passe" type="password" autocomplete="current-password" required formControlName="password" [ngStyle]="{'width':'300px'}">
			</td>
		</tr>
	</table>
    <p-footer>
      <button pButton type="submit" color="primary"  class="ui-button-rounded" label="Se connecter"></button>
    </p-footer>
</p-card>
</form>
