<div class="basic-container">
<form [formGroup]="form" novalidate (ngSubmit)="login()" autocomplete="on">
<p-card header="Page de Connection" subheader="{{message}}" [style]="{width: '340px'}">
	<table>
		<tr><td>
    		<input pInputText placeholder="Utilisateur" required formControlName="name" autocomplete="username">
		</td></tr>
		<tr><td>
    		<input pInputText placeholder="Mot de passe" type="password" autocomplete="current-password" required formControlName="password">
		</td></tr>
	</table>
    <p-footer>
      <button pButton type="submit" color="primary">Se connecter</button>
    </p-footer>
</p-card>
</form>
</div>
