.layout-wrapper {
    .layout-footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
	
        height: 64px;
        background-color: $topbarBgColor;
        border-bottom: 2px dotted $topbarBorderColor;
        padding: 1em;

		.footer-text-right {
			float:right;
		}
	}
	
}